@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set font family */
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Variable.woff2") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display Italic";
  src: url("../fonts/RedHatDisplay-Italic-Variable.woff2") format("woff");
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Red Hat Display", sans-serif;
  @apply bg-myWhite text-myBlack;
}

.btn-primary {
  @apply text-white tracking-wide bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-center text-xs md:text-sm px-5 py-2.5 ease-in-out duration-300;
}

.btn-admin {
  @apply text-white tracking-wide bg-emerald-500 hover:bg-emerald-600 focus:outline-none focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-center text-xs md:text-sm px-5 py-2.5 ease-in-out duration-300;
}

.btn-alternative {
  @apply py-2.5 px-5 text-xs md:text-sm font-medium text-myBlack tracking-wide text-center rounded-lg border border-gray-400 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 ease-in-out duration-300;
}

.btn-dark {
  @apply text-white bg-myBlack hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-center text-xs md:text-sm px-5 py-2.5 ease-in-out duration-300;
}

.btn-light {
  @apply text-myBlack bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-center text-xs md:text-sm px-5 py-2.5 ease-in-out duration-300;
}

.btn-success {
  @apply text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs md:text-sm px-5 py-2.5 text-center ease-in-out duration-300;
}

.btn-warning {
  @apply text-white tracking-wide bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-center text-xs md:text-sm px-5 py-2.5 ease-in-out duration-300;
}

.btn-danger {
  @apply text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs md:text-sm px-5 py-2.5 text-center ease-in-out duration-300;
}

.icon-primary {
  @apply text-white tracking-wide bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-center text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 ease-in-out duration-300;
}

.icon-admin {
  @apply text-white tracking-wide bg-emerald-500 hover:bg-emerald-600 focus:outline-none focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-center text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 ease-in-out duration-300;
}

.icon-alternative {
  @apply px-2 md:px-3 py-1.5 md:py-2 text-xs md:text-sm font-medium text-myBlack text-center rounded-lg border border-gray-400 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 ease-in-out duration-300;
}

.icon-dark {
  @apply text-white hover:bg-myBlack focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-center text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 ease-in-out duration-300;
}

.icon-light {
  @apply text-myBlack bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-center text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 ease-in-out duration-300;
}

.icon-success {
  @apply text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 text-center ease-in-out duration-300;
}

.icon-warning {
  @apply text-white hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 text-center ease-in-out duration-300;
}

.icon-danger {
  @apply text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs md:text-sm px-2 md:px-3 py-1.5 md:py-2 text-center ease-in-out duration-300;
}
